doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title 2014

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 2014
        h2 What I learned
      section 
        h2 me
        ul
          li
            a(href='http://kevinisom.info') KevinIsom.info
          li
            a(href='https://twitter.com/kev_nz') twitter @kev_nz
          li
            a(href='https://github.com/kevnz') github @kevnz
      section
        <iframe src="http://giphy.com/embed/Zsx8ZwmX3ajny?html5=true" width="480" height="319" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      section
        h2 No project is too big to fail
      section
        img(src="https://rawgit.com/yui/yui-assets/master/logos/yui-logo-medium.png" )
        h3 RIP 
      section
        <iframe src="http://giphy.com/embed/cjKY0wWlPzLdC?html5=true" width="480" height="194" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      section
        h2 Modularized code
        h3 Small bits of code doing one thing well
        <iframe src="http://giphy.com/embed/I5ltr29cTiBby?html5=true" width="480" height="360" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      section
        h2 Components are the future
        <iframe src="http://giphy.com/embed/J1WfRHBFj8lFK?html5=true" width="480" height="218" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      section
        h2 Loading those components?
        h3.bullet Not so clear
        ul
          li Require JS?
          li Common JS?
          li ES6?
      section
        h2 Require JS
        h3 Define
        pre
          code.language-javascript.
            define("my/module", function () {
              
              return {
                prop: "something",
                doSomething: function () {}
              }
            });
      section
        h2 Require JS
        h3 Consume
        pre
          code.language-javascript.
            require(["my/module"], function (myModule) {
                myModule.doSomething();
            });
      section
        h2.bullet Benefits?
        ul
          li Code is in modules
          li editing on the fly
      section
        h2.bullet Problems?
        ul
          li Lot of config
          li A lot of boilerplate
          li Can be slow during devs
          li Many libs don't support it
          li Still requires build for production
          li A lot of config!
      section
        h2 CommonJS
        pre
          code.language-javascript.
            module.exports = {
              prop: "something",
              doSomething: function () {}
            }
      section
        h2 CommonJS
        pre
          code.language-javascript.
            var myModule = require('myModule');
            myModule.doSomething();
      section
        h2 CommonJS
        h3.bullet Benefits?
        ul
          li Simplier
          li Less config
          li NPM and (almost) everything in it
      section
        h2 CommonJS
        h3.bullet Problems?
        ul
          li Requires a compile step
          li Not every NPM module works
          li Sadly, not every lib is in NPM
      section
        h2 ES6
        pre
          code.language-javascript.
            export default {
              prop: "something",
              doSomething: function () {}
            }
      section
        h2 ES6
        pre
          code.language-javascript.
            import myModule from "myModule";
            myModule.doSomething();
      section
        h2 ES6
        h3.bullet Benefits?
        ul
          li Simplier
          li Less config
          li Future proof
      section
        h2 ES6
        h3.bullet Problems?
        ul
          li Requires a compile step
          li Still new
          li Years away from working in the browser
      section
        h2 We still are not testing enough
      section
        h3 Most devs reaction when I say test their JavaScript
        <iframe src="http://giphy.com/embed/kPMwTWvKadCG4?html5=true" width="480" height="295" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      section
        h2 Awesome Tools for testing
        p TestEm, Karma, Mocha, Chai, PhantomJS,SlimerJS, Casper JS, node, qunit, node-unit, yadda.js  
      section
        h3 Some devs can't help but over engineer
        <iframe src="http://giphy.com/embed/a3f7Sj4db2MYU?html5=true" width="480" height="361" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      section
        h3 Some devs are scared of JavaScript
        <iframe src="http://giphy.com/embed/nzCA17fMPRPqw?html5=true" width="480" height="326" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      section
        h2 So you get ATScript &amp; Angular 2.0
        <iframe src="http://giphy.com/embed/WClVp8rnMThvi?html5=true" width="480" height="329" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      section
        h2 Angular is still a bad idea
        <iframe src="http://giphy.com/embed/IIjH0wN7F3uzS?html5=true" width="480" height="456" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>


      section(data-bespoke-hash='the-end')
        h2 Thanks
        ul
          li Twitter @kev_nz
          li Github @kevnz


 

    script(src='build/build.js')